#title {
    text-align:center;
}

#main {
    text-align:center;
}

#end {
    text-align:center;
}

footer {
    background-color:grey;
    position:fixed;
    bottom:0px
    left:auto;
    right:auto;
}